---
---

#cv-personal-name {
  font-family: "Segoe UI Light", Verdana, Helvetica, Sans-Serif;
  float: left;
}

#cv-personal-name .name {
  float: right;
  line-height: 1.1em;
  margin-top: 10px;
}

#cv-personal-name img {
  margin-right: 10px;
}

#cv-personal-details {
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  text-align: right;
}

#cv {
  line-height: 1.5em;
  margin-bottom: 40px;

  > header {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  a {
    color: #4A91AC;
  }

  .cv-section {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;

    > .title {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 10px;
    }
  }

  h1.position {
    font-size: 18px;
    margin: 0px;
    color: #4A91AC;
  }

  .role {
    font-size: 18px;
  }

  .company {
    font-size: 14px;
  }
}

.cv-position {
  margin-bottom: 10px;

  .date {
    width: 100px;
    float: left;
    text-align: right;
  }

  .text {
    margin-left: 120px;
  }

  ul {
    list-style: circle;
    margin-left: 20px;
  }

  @media print {
    a::after{
      content: " (" attr(href) ") ";
    }
  }
}
