---
---

@import 'reset';
@import 'bootstrap';
@import 'pygments';

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.8em;
  font-family: "Open Sans", Sans-Serif, Verdana, Helvetica;
  margin: 0;
  padding: 0;
  color: #000;
}

hr {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

div#container {
  max-width: 700px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  color: #000;
}

a.nounderline {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

// helpers

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.img-circle {
  border-radius: 50%;
}

/* header with navigation */

#container > header {
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 40px;
}

section#sectionMyName {
  a {
    font-weight: bold;
    color: #000;
  }

  img {
    margin-right: 10px;
  }

  .name {
    float: right;
    line-height: 1.1em;
    margin-top: 10px;

    small {
      font-size: 12px;
    }
  }
}

nav {
  float: right;
  margin-right: 10px;
  margin-top: 15px;

  ul {
    list-style: none;
    padding-left: 0px;

    li {
      float: left;
      margin-left: 15px;
      list-style: none;

      a {
        padding: 10px 10px 10px 10px;

        &:hover {
          color: #fff;
          background-color: #4A91AC;
          text-decoration: none;
        }
      }
    }
  }
}

/* Copyright footer */

footer {
  font-size: 14px;
  margin-top: 40px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

// Blog posts

hr.separator {
  margin-bottom: 20px;
}

.highlight {
  padding: 10px 0px;

  code {
    font-size: 12px;
  }
}

.blog-posts {
  margin-bottom: 15px;

  article {
    clear: right;

    header {
      margin-bottom: 0px;

      h1 {
        font-size: 24px;
        color: #000;
      }
    }

    .post-content {
      margin-top: 15px;

      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
      }

      a {
        font-family: "Open Sans", Verdana, Helvetica, Sans-Serif;
        color: #A00;

        &:hover {
          text-decoration: underline;
        }
      }

      ol, ul {
        padding-left: 1.5em;
      }
    }

    .post-readmore {
      margin-top: 5px;
      text-align: right;

      a {
        padding: 7px;

        &:hover {
          color: #fff;
          background-color: #4A91AC;
          text-decoration: none;
        }
      }
    }
  }
}

.post-title {
  margin-bottom: 5px;
}

.post-content {
  p {
    padding-bottom: 7px;
    padding-top: 7px;
  }

  ul {
    li {
      margin: 0.5em auto;
      list-style: disc;

      ul li {
        list-style: circle;
      }
    }
  }

  ol {
    li {
      margin: 0.5em auto;
    }
  }

  pre {
    white-space: pre;
  }

  code {
    display: block;
    margin: 0.3em;
    padding: 0.2em;
    line-height: 1.5em;
    background: #f8f8ff;

    &.inline, &.highlighter-rouge {
      display: inline-block;
      margin: 0px;
      color: #2b91af;
    }
  }

  blockquote {
    border-bottom: 3px double #DDD;
    border-top: 3px double #DDD;
    font-style: italic;
    font-weight: 300;
    line-height: 1.35em;
    margin: 1.5em auto;
    padding: 1em 1em;
  }
}

hr.blog-posts-separator {
  margin: 3em auto;
}

.gist {
  font-size: 12px;
}

form span.req {
  color: red;
}

.center {
  text-align: center;
}

/* Responsive web design media queries */

@media screen and (max-width: 980px) {
  body, #infoSection {
    width: auto;
  }
}

@media screen and (max-width: 750px) {
  .bracket, #implement {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #infoContent {
    width: auto;
  }
  nav {
    width: 250px;
    float: left;
  }
  nav ul li {
    margin-left: 0px;
    margin-right: 15px;
  }
}
