<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <meta name="description" content="Software Engineer who loves creating useful web apps (Ruby on Rails, Javascript, React, Node.js)">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tomasz_subik">
    <meta name="twitter:creator" content="@tomasz_subik">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
    {% if page.image %}
    <meta name="twitter:image:src" content="https://tsubik.com/images/blog/{{ page.image }}">
    {% endif %}
    <link rel="icon" type="image/png" href="/images/hockey.png"/>
    <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}">
    {% if page.style %}
    <link rel="stylesheet" href="{{ "/css/" | append: page.style | append: ".css" | prepend: site.baseurl }}">
    {% endif %}
  </head>
  <body>
    <div id="container">
      {{content}}
    </div>
  </body>
</html>
