---
layout: base
---

<a class="skip-link" href="#maincontent">Skip to main</a>
<header>
  <section id="sectionMyName" class="pull-left">
    <img class="img-circle media-object gravatar offline" src="https://www.gravatar.com/avatar/79f84d85058cc766132def23e8f44e60.jpg?s=60" width="60" height="60" alt="tsubik@gmail.com" />
    <h1 class="name" class="pull-right">
      <a href="/">Tomasz Subik</a><br>
      <small><em>Software Engineer</em></small>
    </h1>
  </section>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main id="maincontent" style="clear: both;">
  {{content}}
  <footer>
    Copyright © 2012-<script>document.write(new Date().getFullYear());</script> Tomasz Subik
  </footer>
</main>
